<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/logo.png') }}">
		{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% if app.request.pathinfo == "/login" %}
			{{include('_partials/login_header.html.twig')}}
		{% else %}
			{{include('_partials/header.html.twig')}}
		{% endif %}
		{% block body %}{% endblock %}
	</body>
</html>
